html {
  max-width: 80vmin;
  min-height: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #615dad, #ffc8da)
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
  margin: 0 auto;
  padding: 80px;

}

h1 {
  font-size: 3.5rem;

}

.image img {
  display: block;
  width: 100%;
  border-radius: 2% 2% 0 0;

}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #283e50;

}

.info__title {
  font-family: 'Lobster', cursive;
  margin: auto;
}

.info__text {
  align-items: center;
  margin: 22px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1;

}

.buttons {
  display: flex;
  flex-direction: column;

}

.buttons__rules {
  margin: 0;
  padding: 15px;
  background-color: #1fcca4;
  border-top: 1px solid #283e50;
  text-decoration: none;
  color: #ffffff;

}

.buttons__rules:hover {
  background-color: #1cbb96;
}

.buttons__play {
  margin: 0;
  padding: 15px;
  background-color: #0197f6;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #283e50;
}

.buttons__play:hover {
  background-color: #0090e9;
}

.menu__buttons {
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  gap: 0.4rem;

}

.menu__buttons--turn {
  align-items: center;
  font-weight: bold;

}

.menu__buttons--home {
  background-color: #1cbb96;
  padding: 0.1rem;
  align-self: flex-end;
  width: 100%;
}

.menu__buttons--home img {
  width: 80%;
  padding: 5px;
}

.menu__buttons--home:hover {
  background-color: rgba(28, 187, 150, 0.8)
}

.menu__buttons--restart {
  background-color: #0090e9;
  padding: 0.1rem;
  border-radius: 2px;
  align-self: flex-end;
  width: 100%;
}

.menu__buttons--restart img {
  width: 80%;
  padding: 5px;
}

.menu__buttons--restart:hover {
  background-color: rgba(0, 144, 233, 0.8)
}

.playground {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}

.box {
  width: 8vmin;
  height: 8vmin;
  border: 1px solid black;
  background-color: #e5cce1;
}

.box:focus {
  background-color: rgba(229, 204, 225, 0.8);
}

button:hover {
  background: rgba(229, 204, 225, 0.8)
}

.right-side {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
