html {
  max-width: 80vmin;
  height: 100%;
  box-sizing: border-box;


}

.container {
  width: 881px;
  text-align: center;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  color: #ffffff;
  margin: 0 auto;
  padding: 80px;
}

h1 {
  font-size: 3rem;
}

.image img {
  display: block;
  width: 100%;
  border-radius: 2% 2% 0 0;

}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #283e50;

}

.info__title {
  font-family: 'Lobster', cursive;
  margin-bottom: auto;
}

.info__text {
  align-items: center;
  margin: 22px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1;

}

.buttons {
  display: flex;
  flex-direction: column;

}

.buttons__rules {
  margin: 0;
  padding: 15px;
  background-color: #1fcca4;
  border-top: 1px solid #283e50;
  text-decoration: none;
  color: #ffffff;

}

.buttons__rules:hover {
  background-color: #1cbb96;
}

.buttons__play {
  margin: 0;
  padding: 15px;
  background-color: #0197f6;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #283e50;
}

.buttons__play:hover {
  background-color: #0090e9;
}

.playground {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.pole {
  width: 2rem;
  border: 2 solid black;
}

.menu__buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px 30px 10px
}

.menu__buttons--turn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.menu__buttons--turn img {
  width: 80%;
}

.menu__buttons--home {
  background-color: #1cbb96;
  padding: 0.1rem;
  border-radius: 2px;
  align-self: flex-end;
  margin-left: 716px;

}

.menu__buttons--home img {
  width: 70%;

}

.menu__buttons--restart {
  background-color: #0090e9;
  padding: 0.1rem;
  border-radius: 2px;
  align-self: flex-end;


}

.menu__buttons--restart img {
  width: 70%;
}


.pole {
  width: 88px;
  height: 88px;

}
