html {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px;
  width: 498px;
  text-align: center;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  color: #ffffff;
}

h1 {
  font-size: 3rem;
}


.contejner {

  justify-content: center;
}

.image img {
  display: block;
  width: 100%;
  border-radius: 2% 2% 0 0;

}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #283e50;

}

.info__nadpis {
  font-family: 'Lobster', cursive;
  margin-bottom: auto;
}

.info__text {
  align-items: center;
  margin: 22px;
  text-align: center;
  line-height: 1.5;

}

.buttons {
  display: flex;
  flex-direction: column;

}

.buttons__rules {
  margin: 0;
  padding: 15px;
  background-color: #1fcca4;
  border-top: 1px solid #283e50;
  text-decoration: none;
  color: #ffffff;

}

.buttons__rules:hover {
  background-color: #1cbb96;
}

.buttons__play {
  margin: 0;
  padding: 15px;
  background-color: #0197f6;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #283e50;
}

.buttons__play:hover {
  background-color: #0090e9;
}
